@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(233, 233, 233);
    font-family: Montserrat;
  }
}

/* @font-face {
  font-family: "MontserratBlack";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
} */
